/* commons */
html {
    background-color: #243B55;
    color: white;
}

.icons button {
    height: 40px;
    width: 80px;
    border-radius: 30px;
    outline: none;
    font-size: 13px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #888888;
    color: white;
    font-weight: 300;
}

.icons button:hover {
    background-color: #F56217;
}

.Toastify__toast-body {
    font-size: 13px;
}

/* main */

.main {
    width: 100%;
    height: 300px;
    text-align: center;
}

.main .main_tit {
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 6px;
}

.main .btn {
    width: 200px;
    height: 50px;
    outline: none;
    background: #F56217;
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);
    background: linear-gradient(to right, #F56217, #0B486B);
    border-radius: 30px;
    border: none;
    margin: 0 20px;
    color: white;
}

.main .btn:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
}

/* Upcoming movies */
.upcoming {
    padding: 0;
}

.upcoming .main_tit {
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;
}

.upcoming .list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.upcoming .list li{
    width: 23%;
    margin: 20px 0;
    list-style: none;
}

/* Movie Detail */
.movie {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #0B486B;
    height: 630px;
    border-radius: 5px;
    position: relative;
}

.movie:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.4);
}

.movie .top {
    border-radius: inherit;
    display: flex;
    height: 50px;
    background: #F56217;
    /*background: -webkit-linear-gradient(to right, #F56217, #0B486B);*/
    /*background: linear-gradient(to right, #F56217, #0B486B);*/

}

.movie .top .title {
    flex: 6;
    font-size: 26px;
    font-weight: 800;
    line-height: 50px;
    padding-left: 10px;
    color: #ece6cc;
}

.movie .top .vote_average {
    font-size: 12px;
    line-height: 50px;
    flex: 1;
}

.movie .poster {
    margin: 10px 0;
    text-align: center;
}

.movie .poster img {
    width: 90%;
}

.movie .contents {
    padding: 10px;
}

.movie .contents .overview {
    font-size: 15px;
    font-weight: 300;
}

.movie .contents .overview .more {
    color: #F56217;
    font-weight: 800;
}

.movie .contents .date {
    font-size: 13px;
    position: absolute;
    top: 600px;
    left: 210px;
}

.movie [tooltip]:hover {
    position: relative;
}

.movie [tooltip]:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    content: attr(tooltip);
    margin-bottom: 10px;
    top: 130%;
    left: 0;
    padding: 7px 12px;
    position: absolute;
    min-width: 300px;
    word-wrap: break-word;
    z-index: 9999;
}


/* user */

.user .header .main_tit {
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;
}

.user .my {
    margin-left: auto;
    margin-right: auto;
}

.user .my .my_list {
    height: 40px;
    font-size: 16px;
    color: #243B55;
    background-color: white;
    white-space: nowrap;
    letter-spacing: -0.3px;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-spacing: 0px;
}

.user .my .my_list thead {
    padding: 7px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    line-height: 40px;
    background-color: #F56217;
}
.user .my .my_list tbody {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.user .my .my_list tbody td {
    padding: 12px 5px;
}

.user .my .my_list tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: #222222;
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal .modal-content .modal-tit {
    font-size: 20px;
    color: rgba(160,160,160,0.4);
    font-weight: 800;
    margin: 20px 0;
}

.modal .modal-content .contents .title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #243B55;
}

.modal .modal-content .contents .flex-box {
    display: flex;
}

.modal .modal-content .contents .flex-box .poster {
    padding: 20px;
    flex: 2;
    width: 100%;
    height: auto;
}

.modal .modal-content .contents .flex-box .info {
    flex: 2;
    padding: 30px 20px;
    text-align: right;
}

.modal .modal-content .contents .flex-box .info .overview {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.modal .genres {
    margin-top: 20px;
    text-align: left;
}

.modal .genres .genre {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
    color: white;
    border-radius: 15px;
    background-color: #F56217;
    margin: 2px;
    box-shadow: 0 5px 5px 0 rgba(150,150,150,0.2);
}